{% extends "base.html" %}

{% block content %}

<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="label label-{{category}}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
<div class="hero-unit">
  <h1>Information Cascades</h1>
  <p>
	Information cascades occur when people make decisions based not on their own information but on what they see others do. In order for a cascade to occur, 
	<ol>
		<li>A decision needs to be made</li>
		<li>People make decisions sequentially</li>
		<li>Each individual has some private information that should help him/her make a decision</li>
		<li>Each individual can observe what the people before them <em>did</em> but can't observe what those people <em>know</em>.</li>
	</ol>
	</p>
  <p>This simulation uses a virtual urn and marbles to demonstrate. In each simulation, there are 3 marbles in the urn - 2 marbles of 1 color, and 1 of the other. When players click "draw", they'll be shown one of the marbles. They should then guess which color has the majority in the urn. Players should not tell others what color marble they are shown. Players will be able to see what color others have guessed.</p>
	<p>To start a game, click "Start" and then enter a title, password, and number of turns (or players) for the game. A URL will be generated for the game. Share this URL and the password with all the players. After all the players have entered their guesses, you can view the results of the simulation from "Show Games".</p>
</div>
<div class="row">
    <div class="span6">
        <h2>Create a game</h2>
        <p>Create a game and send the url to your friends</p>
        <p><a class="btn" href="/game/create">Start &raquo;</a></p>
    </div>
    <div class="span6">
        <h2>Show Games</h2>
        <p>Show running and completed games</p>
        <p><a class="btn" href="/games">Show Games &raquo;</a></p>
    </div>
</div>

{% endblock %}
